@media (max-width: 991px) {
    .navbar-nav {
        background-color: rgba(3, 88, 128, 1);
        width: fit-content;
        padding: 0 7px;
        border-radius: 12px;
    }
}

@media (max-width: 768px) {
    .main {
        &-clientes {
            font-size: 80%;
            margin: auto;
        }

        &-acercade {
            height: 100%;
        }
    }

    h5 {
        font-size: $fuenteChica;
    }

    .aside {
        &-clientes {
            font-size: $fuenteChica;
        }

        &-div {
           &-img {
            z-index: -1;
           }
        }
    }

    iframe {
        height: 60%;
        margin-top: 10px;
    }

    .parrafo {
        &-acercade {
            margin-left: 10px;
            height: 100%;
        }
    }

    .section-acercade p {
        font-size: 1rem;
    }

    div {
        & p {
            font-size: $fuenteChica;
        }
    }



    nav {
        z-index: 1;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 2.5rem;
    }

    .contenido {
        width: 80%;
        height: 80%;
        flex-flow: column nowrap;
        align-items: center;
        margin: auto;
        margin-top: 27px;

        &__index {
            width: 80%;
            height: 80%;
            margin-bottom: 10px;
        }
    }

    section {
        & h5 {
            font-size: $fuenteChica;
        }

        & p {
            font-size: 67%;
        }
    }

    .section {
        &-acercade {
            height: fit-content;
            & p {
                font-size: 0.8rem;
            }
        }

        &-formulario {
            font-size: 59%;
        }
    }

    .contenedor {
        &__imagen {
            max-width: 40px;
            max-height: 50px;
            margin-top: 10px;
        }
    }

    .tarjeta {
        max-width: 100px;
    }

    .card {
        &-img {
            &-top {
                height: 50%;
                width: 100px;
            }
        }
    }

    iframe {
        width: 80%;
        height: 50%;
        margin-top: 2rem;
        margin-right: 2rem;
    }

    .listado {
        &__clientes {
            font-size: $fuenteChica;

            &--lista {
                list-style: none;
                text-decoration: underline;
                margin-left: 0;
            }
        }
    }

    input {
        width: 100px;
    }

    .trabajos {
        &__imagenes {
            width: 70%;
            height: 70%;
        }
    }

    .main {
        &-acercade {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        &-clientes {
            font-size: $fuenteChica;
        }
    }
}

@media (max-width: 396px) and (min-width: 376px) {
    iframe {
       margin-top: 100px; 
    }
}

@media (max-width: 375px) {
    section {
        & p {
            font-size: 63%;
        }
    }

    iframe {
        width: 66%;
        border: none;
        margin-top: 7rem;
    }

    div {
        & p {
            font-size: 60%;
        }
    }

    .main {
        &-clientes {
            font-size: 60%;
        }
    }
}

@media (max-width: 332px) and (min-width: 321px)  {
    iframe {
        margin-top: 160px;
    }
}

@media (max-width: 320px) {
    .section-acercade p {
        font-size: 0.7rem;
    }

    .main {
        &-clientes {
            font-size: 50%;
        }
    }

    button {
        font-size: 70%;
    }
}

@media (max-width: 298px) {
    iframe {
        margin-top: 15rem;
        height: 30%;
        width: 110%;
        margin-right: 7rem;
    }
}