@import "variables";

.palabras {
    color: $colorLetras;
    text-align: $alineamiento;
}

h1 {
    font-size: 4rem;
}

h5 {
    font-size: 1rem;
}


section {
    & p {
        @extend .palabras;
        font-size: 80%;
        line-height: 1.7;
    }

    & h5 {
        @extend .palabras;
        font-size: 100%;
        padding: 5px 0px;
        font-weight: bold;
    }
}

.listado {

    &__clientes {

        &--lista {
            list-style: disc;
            margin-left: 50px;
            padding: 10px;
        }
    }
}

.parrafo {
    &-acercade {
        background-color: map-get($map: $colores, $key: tarjetas);
        height: max-content;
        border-radius: $bordeCurvado;
        margin: 0 25px;
    }
}