* {
    padding: 0;             /* Selector universal */
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;                       /* Body con el fondo y fuente de los textos */
    background-image: url('./pages/imagenes/fondo.png');
    background-position: center;
}

/* INDEX */

.header {
    font-size: 200%;            /* Aumento del tamaño de la fuente de los titulos */
}

.header__titulo {
    text-align: center;         /* Alineacion y color de los titulos */
    color: white;
    margin: 20px;
}

.contenedor {
    display: flex;                  /* Alineacion del logo del index */
    justify-content: center;
}

.contenido {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.contenedor__imagen {           /* Margenes del logo */                   
    width: 75px;
    height: 90px;
}

.menu {
    position: relative;             /* Posicion del nav */
    text-align: right;
    margin-right: 20px;
}

.menu__lista {
    font-size: 20px;                /* Estilos y posicion de los enlaces */
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
}



.menu__lista--enlace {  
    color: white;                   /* Diseño de cada enlace */
    font-size: 16px;
    text-decoration: none;
    padding-left: 10px;
}

.contenido__uno {
    background-color: rgba(255, 255, 255, 0.21);
    width: 200px;
    height: 12rem;
    box-shadow: 0px 0px 50px -1px gray;
    border-width: 3px;
    padding: 2px;
    border-radius: 10px;
    transition: transform 1.2s;
}

.contenido__uno:hover {
    transform: scale(1.2);
}

section p {
    font-size: 80%;
    color: rgba(20, 130, 142, 0.91); 
    text-align: center;
    font-weight: bold;
    line-height: 1.7;
}

section h5 {
    text-decoration: underline;
    color: rgba(20, 130, 142, 0.91);
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
}

.pie {
    text-align: center;
    margin-top: 50px;
}

.pie__link {                /* Padding para el footer */
    padding: 10px;
}

.titulo {                       /* Posicion de los titulos de cada seccion */
    text-align: center;
    padding: 10px;
}

.titulo__seccion {              /* Edicion de los titulos de las secciones */ 
    font-size: 200%;
    text-decoration: underline;
    text-align: center;
}


/* BOTON VOLVER */
.comodin {                      
   display: flex;
   justify-content: center;
   padding: 50px;
}

button {
    margin: 30px;
}

.comodin__button {            
    text-decoration: none;
    font-weight: bold;
}


/* SECCION CLIENTES */

.body-prueba {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "head head head"
    "aside main main"
    "foot foot foot";
    gap: 15px;
}

.nav-prueba {
 
    height: 50px;
    grid-area: nav;
}

.header-prueba {
    grid-area: head;
}

.aside-prueba {
    grid-area: aside;
    margin-top: 70px;
}

.main-prueba {
    grid-area: main;
    margin-top: 50px;
    margin-right: 70px;
    background-color: rgba(255, 254, 250, 0.18);
    padding: 40px;
    
}

.div-clientes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.leiva {
    width: 223px;
    margin-right: 30px;
    
}

.pilay {
    width: 225px;
    margin-top: 35px;
   
}

.div-clientes img {
    transition: transform 0.5s;
}

.div-clientes img:hover {
    transform: scale(1.5);
}

.footer-prueba {
    grid-area: foot;
    text-align: center;
}

.listado__clientes--lista {             
    list-style: disc;
    margin-left: 50px;
    padding: 10px;
}

.menu__lista-clientes {
    font-size: 20px;               
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-top: 20px;
    grid-area: "header";
    margin-right: 30px;
}

.pie-clientes {
    text-align: center;
    grid-area: footer;
}



/* PORTOFOLIO */
.trabajos {                     /* Posicion del contenedor de las imagenes en portfolio */ 
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}

.trabajos img:hover {
    transform: scale(1.7);
}

.trabajos__imagenes {               /* Padding de las imagenes en portfolio */ 
   padding: 30px;
   transition: transform 2.3s;
}

.formulario {               /* Posicion del formulario */
    display: flex;  
    flex-flow: column wrap;
}

input {                 /* Edicion del input */
    width: 200px;
    box-sizing: border-box;
}

label {                          /* Edicion del label */ 
    text-align: left;
    text-decoration: underline;
}

/* SECCION ACERCA DE */

.mainacercade {
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "iframe parrafo"
    ;
}

.titulo-acerca-de {
    grid-area: titulo;
}

.iframe-acerca-de {
    grid-area: iframe;
}

.parrafo-acerca-de {
    grid-area: parrafo;
}

.leiva {
    width: 100px;
    margin-top: 20px;
}

.pilay {
    width: 100px;
}



.titulo-acerca-de {
    text-align: center;
    padding: 30px;
}

/* Diseño Responsive de cada seccion */

@media (max-width: 768px) {
    .main-prueba {
        font-size: 60%;
    }

    .footer-prueba {
        font-size: 70%;
    }

    .aside-prueba {
        font-size: 70%;
    }
}

@media (max-width: 425px) {
    .menu__lista {
        justify-content: space-evenly;
        margin-top: 0;
    }
    .menu__lista--enlace { 
        font-size: 50%;
    }
    .header {
        font-size: 70%;
    }

    .titulo__seccion {
        font-size: 85%;
    }

    .contenido {
        width: 80%;
        height: 80%;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .contenido__uno {
        width: 80%;
        height: 80%;
        margin-bottom: 10px;
    }

    section h5 {
        font-size: 70%;
    }

    section p {
        font-size: 67%;
    }

    .contenedor {
        align-content: center;
    }

    .contenedor__imagen {
        max-width: 40px;
        max-height: 50px;
        margin-top: 10px;
    }

    .pie {
        font-size: 70%;
    }
    
    .titulo {
        font-size: 70%;
    }

    .listado__clientes {
        font-size: 70%;
    }

    .listado__clientes--lista {
        list-style: none;
        text-decoration: underline;
        margin-left: 0;
    }

    .comodin__button {
        font-size: 65%;
    }

    .titulo-acerca-de {
        font-size: 70%;
    }

    input {
        width: 100px;
    }

    .trabajos__imagenes {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 375px) {
    section p {
        font-size: 63%;
    }
}