* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  background: linear-gradient(to right, #ACB6E5, #74ebd5); }

.body-acercade {
  display: grid;
  grid-template-areas: "nav nav nav" "aside header header" "aside parrafo parrafo" "aside iframe iframe" "footer footer footer";
  grid-template-rows: 1fr 10% 30% 50% 10%;
  grid-template-columns: repeat(3, 1fr); }

.body-clientes {
  display: grid;
  grid-template-areas: "nav nav nav" "head head head" "aside main main" "footer footer footer";
  gap: 15px; }

nav {
  height: 50px;
  grid-area: nav; }

.fondo-nav {
  background-color: rgba(3, 88, 128, 0.808); }

.actual {
  color: #ACB6E5; }

.hover {
  transition: transform 0.3s; }
  .hover:hover {
    transform: scale(1.2) translateX(10px);
    color: #ACB6E5; }
  .hover-secciones {
    transition: color 0.4s; }
    .hover-secciones:hover {
      color: #ACB6E5; }

.header-clientes {
  grid-area: head; }

.header-acercade {
  grid-area: header; }

.main-acercade {
  grid-area: iframe;
  margin: auto;
  height: 200%; }

.main-clientes {
  grid-area: main;
  margin-top: 50px;
  margin-left: 170px;
  background-color: rgba(255, 254, 250, 0.18);
  padding: 17px;
  height: max-content;
  width: 50%;
  border-radius: 10px; }

.aside-acercade {
  grid-area: aside; }

.aside-clientes {
  grid-area: aside;
  margin-top: 70px; }

footer {
  grid-area: footer; }

.palabras, section p, section h5 {
  color: rgba(20, 130, 142, 0.91);
  text-align: center; }

h1 {
  font-size: 4rem; }

h5 {
  font-size: 1rem; }

section p {
  font-size: 80%;
  line-height: 1.7; }

section h5 {
  font-size: 100%;
  padding: 5px 0px;
  font-weight: bold; }

.section-acercade p {
  font-size: 1.3rem; }

.listado__clientes--lista {
  list-style: disc;
  margin-left: 50px;
  padding: 10px; }

.parrafo-acercade {
  background-color: rgba(255, 254, 250, 0.18);
  height: max-content;
  border-radius: 10px;
  margin: 0 25px; }

.section-acercade {
  grid-area: parrafo;
  height: fit-content; }

.contenedor {
  display: flex;
  justify-content: center; }
  .contenedor__imagen {
    width: 75px;
    height: 90px; }

.contenido {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px; }
  .contenido__index {
    background-color: rgba(255, 255, 255, 0.21);
    width: 200px;
    height: 12rem;
    border-width: 3px;
    padding: 2px;
    border-radius: 10px;
    transition: all 1.2s; }
    .contenido__index:hover {
      transform: scale(1.2);
      box-shadow: 0px 0px 50px -1px gray; }

form {
  display: flex;
  flex-direction: column; }

input {
  width: 200px; }

label {
  text-align: left;
  text-decoration: underline; }

button {
  width: 10%;
  transition: transform 0.2s; }
  button:active {
    transform: scale(0.9); }

iframe {
  border: 20px solid black;
  border-radius: 10px; }

.tarjeta {
  transition: transform 0.4s; }
  .tarjeta:hover {
    transform: translateY(-20px); }

.instagram {
  transition: transform 0.3s; }
  .instagram:hover {
    transform: scale(1.2); }

@media (max-width: 991px) {
  .navbar-nav {
    background-color: #035880;
    width: fit-content;
    padding: 0 7px;
    border-radius: 12px; } }

@media (max-width: 768px) {
  .main-clientes {
    font-size: 80%;
    margin: auto; }
  .main-acercade {
    height: 100%; }
  h5 {
    font-size: 70%; }
  .aside-clientes {
    font-size: 70%; }
  .aside-div-img {
    z-index: -1; }
  iframe {
    height: 60%;
    margin-top: 10px; }
  .parrafo-acercade {
    margin-left: 10px;
    height: 100%; }
  .section-acercade p {
    font-size: 1rem; }
  div p {
    font-size: 70%; }
  nav {
    z-index: 1; } }

@media (max-width: 425px) {
  h1 {
    font-size: 2.5rem; }
  .contenido {
    width: 80%;
    height: 80%;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
    margin-top: 27px; }
    .contenido__index {
      width: 80%;
      height: 80%;
      margin-bottom: 10px; }
  section h5 {
    font-size: 70%; }
  section p {
    font-size: 67%; }
  .section-acercade {
    height: fit-content; }
    .section-acercade p {
      font-size: 0.8rem; }
  .section-formulario {
    font-size: 59%; }
  .contenedor__imagen {
    max-width: 40px;
    max-height: 50px;
    margin-top: 10px; }
  .tarjeta {
    max-width: 100px; }
  .card-img-top {
    height: 50%;
    width: 100px; }
  iframe {
    width: 80%;
    height: 50%;
    margin-top: 2rem;
    margin-right: 2rem; }
  .listado__clientes {
    font-size: 70%; }
    .listado__clientes--lista {
      list-style: none;
      text-decoration: underline;
      margin-left: 0; }
  input {
    width: 100px; }
  .trabajos__imagenes {
    width: 70%;
    height: 70%; }
  .main-acercade {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .main-clientes {
    font-size: 70%; } }

@media (max-width: 396px) and (min-width: 376px) {
  iframe {
    margin-top: 100px; } }

@media (max-width: 375px) {
  section p {
    font-size: 63%; }
  iframe {
    width: 66%;
    border: none;
    margin-top: 7rem; }
  div p {
    font-size: 60%; }
  .main-clientes {
    font-size: 60%; } }

@media (max-width: 332px) and (min-width: 321px) {
  iframe {
    margin-top: 160px; } }

@media (max-width: 320px) {
  .section-acercade p {
    font-size: 0.7rem; }
  .main-clientes {
    font-size: 50%; } }

@media (max-width: 298px) {
  iframe {
    margin-top: 15rem;
    height: 30%;
    width: 110%;
    margin-right: 7rem; } }
