* {
    padding: 0;             /* Selector universal */
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* INDEX */


/* nav */

.fondo-nav {
    background-color: rgba(38, 38, 151, 0.808);
}

.hover {
    transition: transform 0.3s;
}

.hover:hover {
    transform: scale(1.2) translateX(10px);
    color: #ACB6E5;
}

.hover-secciones {
    transition: color 0.4s;
}

.hover-secciones:hover {
    color: #ACB6E5;
}

h1 {
    font-size: 4rem;
}

h5 {
    font-size: 1rem;
}

.contenedor {
    display: flex;                  /* Alineacion del logo del index */
    justify-content: center;
}

.contenido {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.contenedor__imagen {           /* Margenes del logo */                   
    width: 75px;
    height: 90px;
}

.contenido__index {
    background-color: rgba(255, 255, 255, 0.21);
    width: 200px;
    height: 12rem;
    box-shadow: 0px 0px 50px -1px gray;
    border-width: 3px;
    padding: 2px;
    border-radius: 10px;
    transition: transform 1.2s;
}

.contenido__index:hover {
    transform: scale(1.2);
}

section p {
    font-size: 80%;
    color: rgba(20, 130, 142, 0.91); 
    text-align: center;
    line-height: 1.7;
}

section h5 {
    text-decoration: underline;
    color: rgba(20, 130, 142, 0.91);
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
}

.instagram {
    transition: transform 0.3s;
}

.instagram:hover {
    transform: scale(1.2);
}

.titulo {                       /* Posicion de los titulos de cada seccion */
    text-align: center;
    padding: 10px;
}

.titulo__seccion {              /* Edicion de los titulos de las secciones */ 
    font-size: 200%;
    text-decoration: underline;
    text-align: center;
}


/* BOTON VOLVER */
.comodin {                      
   display: flex;
   justify-content: center;
   padding: 50px;
}



/* SECCION CLIENTES */

.body-prueba {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "head head head"
    "aside main main"
    "foot foot foot";
    gap: 15px;
}

.nav-prueba {
 
    height: 50px;
    grid-area: nav;
}

.header-prueba {
    grid-area: head;
}

.aside-prueba {
    grid-area: aside;
    margin-top: 70px;
}

.main-prueba {
    grid-area: main;
    margin-top: 50px;
    margin-right: 70px;
    background-color: rgba(255, 254, 250, 0.18);
    padding: 40px;
    
}

.div-clientes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.card {
    height: max-content;
    transition: transform 0.4s;
}

.card:hover {
    transform: translateY(23px);
}

.div-clientes img {
    transition: transform 0.5s;
}

.div-clientes img:hover {
    transform: translateY(50px) scale(1.5);
}

.footer-prueba {
    grid-area: foot;
    text-align: center;
}

.listado__clientes--lista {             
    list-style: disc;
    margin-left: 50px;
    padding: 10px;
}

.menu__lista-clientes {
    font-size: 20px;               
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-top: 20px;
    grid-area: "header";
    margin-right: 30px;
}

.pie-clientes {
    text-align: center;
    grid-area: footer;
}



/* PORTOFOLIO */

section div img {
    /* margin: auto; */
}

/* Seccion Contacto */

form {               /* Posicion del formulario */
    display: flex;  
    flex-direction: column;
}

input {                 /* Edicion del input */
    width: 200px;
    box-sizing: border-box;
}

label {                          /* Edicion del label */ 
    text-align: left;
    text-decoration: underline;
}

button {
    width: 10%;
    transition: transform 0.2s;
}

button:active {
    transform: scale(0.9)
}

/* SECCION ACERCA DE */

.bodyacercade {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "aside header header"
    "aside parrafo parrafo"
    "aside iframe iframe"
    "footer footer footer";
    grid-template-rows: 1fr 10% 30% 50% 10%;
    grid-template-columns: repeat(3, 1fr);
}

.nav-acerca-de {
    grid-area: nav;
}

.asideacercade {
    grid-area: aside;
}

.headeracercade {
    grid-area: header;
}

.mainacercade {
    grid-area: iframe;
}

iframe {
    border: 20px solid black;
    border-radius: 10px;
}

.footer-acerca-de {
    grid-area: footer;
}

.sectionacercade {
    grid-area: parrafo;
}

.parrafo-acerca-de {
    background-color: rgba(255, 255, 255, 0.18);
    height: max-content;
    border-radius: 10px;
    margin: 0 25px;
}

/* Diseño Responsive de cada seccion */

@media (max-width: 768px) {
    .main-prueba {
        font-size: 60%;
    }

    .footer-prueba {
        font-size: 70%;
    }

    .aside-prueba {
        font-size: 70%;
    }

    iframe {
        height: 93%;
        
    }

    .parrafo-acerca-de {
        margin-left: 10px;
        height: 100%;
    }

    div p {
        font-size: 70%;
    }
}

@media (max-width: 425px) {
    .menu__lista {
        justify-content: space-evenly;
        margin-top: 0;
    }
    .menu__lista--enlace { 
        font-size: 50%;
    }
    .header {
        font-size: 70%;
    }

    .titulo__seccion {
        font-size: 85%;
    }

    .contenido {
        width: 80%;
        height: 80%;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .contenido__uno {
        width: 80%;
        height: 80%;
        margin-bottom: 10px;
    }

    section h5 {
        font-size: 70%;
    }

    section p {
        font-size: 67%;
    }

    .contenedor {
        align-content: center;
    }

    .contenedor__imagen {
        max-width: 40px;
        max-height: 50px;
        margin-top: 10px;
    }

    .pie {
        font-size: 70%;
    }
    
    .titulo {
        font-size: 70%;
    }

    .listado__clientes {
        font-size: 70%;
    }

    .listado__clientes--lista {
        list-style: none;
        text-decoration: underline;
        margin-left: 0;
    }

    .comodin__button {
        font-size: 65%;
    }

    .titulo-acerca-de {
        font-size: 70%;
    }

    input {
        width: 100px;
    }

    .trabajos__imagenes {
        width: 70%;
        height: 70%;
    }

    .mainacercade {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    iframe {
        margin-right: 58px;
    }
    
}

@media (max-width: 375px) {
    section p {
        font-size: 63%;
    }

    iframe {
        width: 86%;
    }

    div p {
        font-size: 60%;
    }
}